// Utility classes - will probably do away with these and add properties directly to elem classes instead

.u-textalign-right { text-align: right; }

.u-textalign-center { text-align: center; }

.u-margintop-xxl { margin-top: 60px;}
.u-margintop-xl { margin-top: 40px;}

.u-fullwidth { width: 100%; }
